#abilities {
  background-color: rgb(63, 63, 63);
}

.abilities {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.abilities > h1 {
  color: white;
  font-size: 45px;
}
.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin-bottom: 20px;
}
.skills > h2 {
  width: 80%;
  color: white;
  text-align: left;
}
.skill {
  padding: 2px 8px 2px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  color: white;
  min-width: 375px;
}
.skill:hover {
  background-color: rgb(92, 92, 92);
}