#abilities {
  background-color: rgb(63, 63, 63);
}

.abilities {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.abilities > h1 {
  color: white;
  font-size: 45px;
}
.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
}
.skills > * {
  padding: 10px;
  width: 50%;
}
.skills > h2 {
  padding: 0;
  width: 80%;
  color: white;
  text-align: left;
}
.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  color: white;
}